:root {
    --primary-900: #6E6E69;
    --primary-800: #ADADA6;
    --primary-700: #D4D4CB;
    --primary-600: #EDEDE4;
    --bg-color: #F9F9F4;
    --secondary-800: #658B9C;
    --secondary-700: #C5DEE8;
    --tertiary-800: #8D7AA1;
    --tertiary-700: #E8E4ED;
}

.container-main {
  position: relative;
  width: 100%;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
}